@import url('https://www.pentacom.jp/pentacom/bitfontmaker2/gallery/?id=1298');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');

body{
	margin: 0px;
	padding: 0px;
	font-family: "CelticTime";
	background-image: url("Turnip-BG.jpeg");
	background-size: 35%;
	background-repeat: repeat;
}

.container {
	display: flex;
	position: relative;
}

.Home{
	display: flex;
	position: relative;
	margin-left: 17vw;
	width: 83vw;
}

.wallpaper{
	width: 83vw;
	height: auto;
}

.sideBar{
	position: fixed;
	width: 17vw;
	height: 100vh;
	background-color: #3dbbff;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-image: url("Flowers.gif");
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

.logo img{
	margin: .5vw;
	width: 17vw;
	margin-bottom: 2vw;
	margin-left: 1vw;
}

.navigation {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.navigation li {
	margin: 1vw;
	display: flex;
	flex-direction: column;

}


.navigation a {
	text-decoration: none;
	padding: 0px;
	color: #fff;
	font-style: bold;
	font-size: 3vw;
}

.navigation li img{
	align-items: flex-start;
	margin: 0px;
	max-width: 4vw;
}

.cow{
	width:3vw;
}

.banner{
	position: absolute;
	width: 83vw;
}

.banner img{
	width: 83vw;
}

.farm{
	position: relative;
	width: 100%;
	list-style: none;
}

.sprites{
	position: absolute;
}

#main-logo{
	left: 25%;
	padding-top: 1vw;
	width: 40vw;
}

#homepage{
	margin-top: 7.1vw;
	left: 12vw;
	width: 3.5vw;
}

#games{
	margin-top: 20vw;
	left: 70vw;
	width: 3.5vw;
}

#influences{
	margin-top: 30vw;
	left: 35vw;
	width: 6vw;
}

#rankings{
	margin-top: 49vw;
	left: 19.5vw;
	width: 3.5vw;
}

.extraSprites img:hover{
	transform: scale(1.3);
}

.navigation a:hover{
	background-color: #fff;
	color: #3dbbff;
	border-radius: 0.5vw;
	transition: .2s;
	transform: scale(1.2);
}

.logo{
	border-radius: 0.5vw;
	background-image: url("Side-Bar-Wallpaper.jpeg");
	background-size: cover;
}

.meat{
	position: absolute;
	top: 54vw;
	flex-direction: column;
}

.meat h1{
	font-family: "Baloo 2";
	text-align: center;
	width: 83vw;
	font-size: 4vw;
	background-image: url("Header-Bg.jpeg");
	background-size: 30%;
	color: #fff94f;
	text-shadow: 2px 1px 1px  #000;
}

.meat p{
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 2vw;
	border: 6px outset #f5902c;
	background-color: rgba(250, 231, 60, .9);
	font-size: 2vw;
}

.creator{
	margin-left: 4.6vw;
	margin-bottom: 1.5vw;
	width: 22.2vw;
	border: 5px ridge #fff;
	border-radius: 2px;
}

.Home-Gif{
	margin-bottom: 1.5vw;
	width: 50vw;
	border: 5px ridge #fff;
	border-radius: 2px;
}

.Wallpaper2{
	margin-left: 16vw;
	width: 50vw;
	border: 5px ridge #fff;
	border-radius: 2px;
}


.highlighter{
	color: #ff801f;
	font-weight: bold;
}

.meat2{
	top: 0px;
	flex-direction: column;
}

.Home2{
	margin-left: 17vw;
}

.meat2 h1{
	margin-top: 0px;
	font-family: "Baloo 2";
	text-align: center;
	width: 83vw;
	font-size: 4vw;
	background-image: url("Header-Bg.jpeg");
	background-size: 30%;
	color: #fff94f;
	text-shadow: 2px 1px 1px  #000;
}

.meat2 h2{
	font-family: "Baloo 2";
	font-size: 2.5vw;
	text-align: center;
	width: 83vw;
	background-color: rgba(255, 255, 255, 0.9);
	color: #96c93c;
	text-shadow: 2px 1px 1px #ffea75;
}

.meat2 p{
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 2vw;
	border: 6px outset #f5902c;
	background-color: rgba(250, 231, 60, .9);
	font-size: 2vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    padding: 1vw;
}

.grid-item {
    text-align: center;
    border: 5px ridge #fff;
    border-radius: 0.5vw;
    padding: 1vw;
}

.grid-item img {
    max-width: 100%;
    transition: .1s;
}

.grid-item img:hover{
	transform: scale(1.1);
}

.grid-item p {
    margin: 0px;
    margin-bottom: 1vw;
    padding: 1vw;
    color: #fff;
    border: 6px outset #95de35;
    background-color: rgba(65, 204, 217, 0.9);
    font-weight: bold;
}

.meat-stack{
	display: flex;
	gap: 0.5vw;
	flex-flow: column wrap;
	text-align: center;
	align-items: center;
}

.meat-stack img{
	width: 30vw;
	object-fit: contain;
}

.meat2 a img{
	margin-left: 25%;
	padding-top: 1.5vw;
	padding-bottom: 2vw;
	width: 40vw;
	transition: 0.1s;
}

.meat2 a img:hover {
	transform: scale(1.2);
}

.extrameat img{
	margin-left: 25%;
	width: 40vw;
}

